version: '1.0.{build}'

image: Visual Studio 2017

branches:
  only:
  - master

init:
  # Good practise, because Windows line endings are different from Unix/Linux ones
  - cmd: git config --global core.autocrlf true

install:
  # Install repo specific stuff here
  - ps: Install-Product node $env:nodejs_version x64
  - cmd: cd TransientEventDisplay/wwwroot
  - cmd: npm install
  - cmd: npm install brunch -g
  - cmd: brunch build
  - cmd: cd ../..

before_build:
  # Display .NET Core version
  - cmd: dotnet --version
  # Display minimal restore text
  - cmd: dotnet restore ./TransientEventDisplay/TransientEventDisplay.csproj --verbosity m

build_script:
  # output will be in ./TransientEventDisplay/bin/debug/netcoreapp2.0/publish
  - cmd: dotnet publish ./TransientEventDisplay/TransientEventDisplay.csproj

after_build:
  # For once the build has completed

artifacts:
 - path: '\TransientEventDisplay\bin\Debug\netcoreapp2.0\publish'
   name: WebSite
   type: WebDeployPackage

clone_depth: 1
# test_script:
#   # restore packages for our unit tests
#   - cmd: dotnet restore ./tests/tests.csproj --verbosity m
#   # run the unit tests (requires changing into the test directory)
#   - cmd: cd tests
#  - cmd: dotnet xunit

on_finish :
  # any cleanup in here

deploy: on